## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
[Tt]est[Rr]esult*/
[Dd]ebug[Pp]ublic/
[Rr]elease[Pp]ublic/
*.VisualState.xml
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
*.pubxml
!**/[Pp]ublish[Pp]rofiles/*.pubxml

## Rider / IntelliJ
.idea/
*.sln.iml

## VS Code
.vscode/

## User-specific files
*.DotSettings.user

## Publish output
publish/

## .NET
project.lock.json
project.fragment.lock.json
artifacts/

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## macOS
.DS_Store
